spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/workspace/spring/jpa/spring_data_jpa/datajpa
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: tk.youngdk.datajpa.common.PrefixPhysicalNamingStrategy
    properties:
      hibernate:
        # show_sql: true
        format_sql: true

logging:
  level:
    org.hibernate:
      SQL: debug
      type: trace
